{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>L'auto Cargo</title>
<link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/style.min.css" rel="stylesheet' %}">
<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>

<link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.div1 {
	padding: 16px;

}

.categoria {
  width:100%;
  max-width: 300px;
  margin-top: 10px
}
@media only screen and (max-width:700px) {
  /* For mobile phones: */
   .div1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
  .categoria {
    width:100%;
    text-align: center;
    max-width: 100%;
  }
}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-yellow w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right " style="font-family: 'arial';" > L'auto Cargo</span>
  <!-- fa fa-user-secret   -->
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar">
<div style="width:250px;">
  <center>
      <img src="{% static 'images/logolauto.png' %}" class="" style="width:150px;margin-top:20px;" alt="FOTO_CV">
  </center>
</div>
<div style="width:250px;padding-top:10px">
  <center>
    <span>Welcome, <strong>{{request.user.username}}</strong></span><br>
  </center>
</div>
<div style="width:250px;padding-top:3px">
  <center>
  <a href="/lauto/usuario" class="w3-bar-item w3-button "><i class="fa fa-user-circle"></i></a>
  <a href="/lauto/logout_controller" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
  </center>
</div>
<hr>
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/lauto" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class=" fa fa-home"></i>  Home</a> 
        <a href="/lauto/institucional" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class="  fa fa-building"></i>  Institucional</a> 


    <a data-toggle="collapse" data-target="#demo" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><i class=" fa fa-bookmark"></i>  Reunião <i class="fa fa-angle-down" style="float: right;"></i></a>
            <div id="demo" class="collapse">  
            <a href="/reuniao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">Minhas reuniões</div> </a>  
            <a href="/reuniao/acao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">Minhas ações</div> </a> 
            <a href="/reuniao/faq_reuniao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">FAQ</div> </a> 
            </div>
     <a href="/ead" class="w3-bar-item w3-button w3-padding w3-yellow" style="text-decoration-line: none;"><i class="fa fa-institution"></i> Universilauto</a> 
    <a href="http://201.20.83.85:83/HELPDESK/index.php" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class="fa fa-bullhorn"></i>  Helpdesk</a>
<br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px;margin-top:43px;">

  <!-- Header -->
  <header class="div1">

        <div class="card" style="margin-left: 0px">
      <div class="card-header"><i class=" fa fa-institution"></i><b> Universilauto</b>
      </div>
      <div class="card-body">
<div style="text-align: justify; font-size: 14px">
   Com o objetivo de desenvolver gestão do conhecimento e as competências individuais do seu quadro de colaboradores, a Universilauto tem a missão de promover o desenvolvimento humano, valorizando competências e promovendo educação voltada a excelência em serviços, para criar padronização dos processos e atender as necessidades estratégicas da organização.
  </div>
  {% if informacao.tipo_user.id == 3 or informacao.tipo_user.id == 2 %}
  <div style="margin-top: 10px;"><a href="/ead/novocurso" style="text-decoration-line: none; font-size: 12px"><button type="submit"><i class="fa fa-plus fa-fw"></i>Novo curso</button></a></div>
  {% else %}
  <div style="margin-top: 10px;"><a href="/ead/novocurso" style="text-decoration-line: none; font-size: 12px"><button disabled type="submit"><i class="fa fa-plus fa-fw"></i>Novo curso</button></a></div>
  {% endif %}

    </div>
    </div>

    <div class="card categoria">
     <div class="card-header"><i class="    fa fa-folder"></i><b> Categorias</b>
      </div>

      <div class="card-body" style="padding: 0px;">
      {% if lista %}
      {% for Categoria in lista %}
        <a href="/ead/categoria/{{Categoria.id}}" class=" w3-bar-item w3-button w3-padding" style="text-decoration-line: none; width: 100%; text-align: left"> {{Categoria.nome_categoria}}</a> 
       {% endfor %}
       {% endif %}
      </div>
    </div>

      </div>

  </header>

  <!-- End page content -->
</div>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

</body>
</html>
