{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>L'auto Cargo</title>
<link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.44/jodit.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.44/jodit.min.js"></script>



<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.div1 {
	padding: 16px;

}

</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-yellow w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right " style="font-family: 'arial';" > L'auto Cargo</span>
  <!-- fa fa-user-secret   -->
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar">
<div style="width:250px;">
  <center>
      <img src="{% static 'images/logolauto.png' %}" class="" style="width:150px;margin-top:20px;" alt="FOTO_CV">
  </center>
</div>
<div style="width:250px;padding-top:10px">
  <center>
    <span>Welcome, <strong>{{request.user.username}}</strong></span><br>
  </center>
</div>
<div style="width:250px;padding-top:3px">
  <center>
  <a href="/lauto/usuario" class="w3-bar-item w3-button "><i class="fa fa-user-circle"></i></a>
  <a href="/lauto/logout_controller" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
  </center>
</div>
<hr>
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/lauto" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class=" fa fa-home"></i>  Home</a> 
        <a href="/lauto/institucional" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class="  fa fa-building"></i>  Institucional</a> 


    <a data-toggle="collapse" data-target="#demo" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><i class=" fa fa-bookmark"></i>  Reunião <i class="fa fa-angle-down" style="float: right;"></i></a>
            <div id="demo" class="collapse">  
            <a href="/reuniao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">Minhas reuniões</div> </a>  
            <a href="/reuniao/acao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">Minhas ações</div> </a> 
            <a href="/reuniao/faq_reuniao" class="w3-bar-item w3-button w3-padding " style="text-decoration-line: none;"><div style="margin-left: 10px">FAQ</div> </a> 
            </div>
     <a href="/ead" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class="fa fa-institution"></i> Universilauto</a> 
    <a href="http://201.20.83.85:83/HELPDESK/index.php" class="w3-bar-item w3-button w3-padding" style="text-decoration-line: none;"><i class="fa fa-bullhorn"></i>  Helpdesk</a>
<br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px;margin-top:43px;">

  <!-- Header -->
  <header class="div1">

        <div class="panel panel-default" style="margin-left: 0px">
      <div class="panel-heading"><i class="   fa fa-book"></i><b> Novo curso</b>
      </div>
      <div class="panel-body">
          <div><a href="/ead" style="text-decoration-line: none; font-size: 12px; color: black;"><button type="submit"><i class="fa fa-mail-reply"></i> Voltar</button></a></div>
         <form method="POST" action="/ead/novocurso_controller">
    {%csrf_token%}
        <div style="margin-top: 10px"><b>Passo 1: Selecione o tema do curso.</b><br><br>
         Tema:
<br>
    
          {% if lista %}
           <select required name="selectema" class="js-example-basic-single" style="width: 100%">
               <option value="">Selecione um tema</option>
                {% for Tema in lista %}
                      <option value="{{ Tema.id }}">{{Tema.nome_tema}}</option>
                 {% endfor %}
                </select>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}

        <br><br>

      </div>
 <div><b>Passo 2: Digite o título do curso.</b><br><br>
  Titulo do curso:<br>
  <input style="width:100%;" required="" type="text" name="titulocurso" value="">
  <br><br>
  </div>
        <div><b>Passo 3: Digite o conteúdo do curso.</b><br><br>
   <textarea id="editor" required="" name="conteudo" value=""></textarea>
</div>
<br>
       <div><b>Passo 4: Disponibilizar o curso na plataforma.</b><br>
   <br>
    <input type="submit" value="Salvar">
 </div>
</form>    
    </div>
    </div>

      </div>

  </header>

  <!-- End page content -->
</div>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

<script>
var editor = new Jodit("#editor", {
  "autofocus": true,
  "uploader": {
    "insertImageAsBase64URI": true
  },
  "language": "pt_br",
  "toolbarStickyOffset": 40
});

</script>

</body>
</html>
