Olá senhor(a) {{responsavel}},

Você está sendo notificado(a) que as despesas a respeito da conta {{conta}}, do mês de {{mes}}, do centro de custo {{ccusto}}, da unidade {{unidade}}, ultrapassaram o orçamento estabelecido de R${{valor}}.

Verifique sua situação no painel do GMCD2019 através do link:
https://us-east-1.online.tableau.com/#/site/lauto/views/GMCD2019-MatrizGerencial/GMCD-MatrizGerencial?:iid=2

Mais informações a respeito das despesas devem ser obtidas no Trucker a partir do seguinte caminho:
Financeiro -> Pagamentos -> Relatório -> Rateio por centro de lucro/custo

Por favor, não responder esse e-mail e em caso de dúvidas entrar em contato com a equipe da controladoria.

Atenciosamente, equipe da controladoria.